### 10.3.3 Scrape Mars Data: The News

In [107]:
# 10.3.3
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [80]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [60]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)
# Optional delay for loading the page. 
# The is_element_present_by_css looks for element combo of tag, div & attribute list_text. 
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [67]:
# Setup HTML parser
html = browser.html
news_soup = soup(html, 'html.parser')
# ?? How is this the parent element?
slide_elem = news_soup.select_one('div.list_text')
# slide_elem = news_soup.select_one('div.card')

In [68]:
# ?? I have question on this and section of the module 10.3.3
# news_soup
# html
slide_elem

<div class="list_text">
<div class="list_date">October 13, 2022</div>
<div class="content_title">NASA Wins Two Emmy Awards for Interactive Mission Coverage</div>
<div class="article_teaser_body">NASA-JPL's coverage of the Mars InSight landing earns one of the two wins, making this the NASA center's second Emmy.</div>
</div>

In [69]:
# Goal - To capture the most recent article with its summary.

In [70]:
# this chains .find onto the previous variable slide_elem. variable holds a lot of info.
# and look inside of that info to find specific data.
slide_elem.find('div', class_='content_title')
# slide_elem.find('div', class_='card')

In [71]:
# Use the parent element to find the first 'a' tag and save it as 'news_title'
news_title = slide_elem.find('div', class_='content_title')
# news_title = slide_elem.find('p', class_='card-text').get_text()
news_title

In [58]:
# slide_elem.find('p', class_="card-text")

In [73]:
# Use the parent element to find the paragraph text.
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

"NASA-JPL's coverage of the Mars InSight landing earns one of the two wins, making this the NASA center's second Emmy."

# 10.3.4 Scrape Mars Data: Featured Image

### Featured Images

In [82]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [83]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [87]:
# Parse the resulting html with soup, so we can scrape the full-size image URL.
html = browser.html
img_soup = soup(html, 'html.parser')

In [89]:
# Now find relative image url. .get('src')pulls the link to the image.
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars1.jpg'

In [91]:
# Use the base URL to create an absolute URL.
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [ ]:
# 10.3.5 Scrape Mars Data: Mars Facts

In [110]:
# Scrape entire table vs each <td /> in <tr /> using Pandas .read_html()
# make sure import pandas as pd is in dependency!
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [111]:
# To make sure the live website table data shows up in our app, we 
# convert the dataframe back into html
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C